body {
  background-color: #308b5a;
  color: #fef72c;
  font-family: Helvetica, sans-serif;
  margin: 1em 2em;
}
h1 {
  text-shadow: 1px 2px #444;
}

@keyframes blinkingText{
  0%		{ background-color: #04a1d500;}
  100%	{ background-color: #04a1d5;}
}


/* Cards */
.playing-card {
  margin: 3px;
}

.card {
  height: 125px;
  width: 100px;
}

.cards {
  display: flex;
}

.player-winner {
  animation: blinkingText 5s infinite;
  width: 53em;
}


/* Controls */
.controls-wrapper{
  display: flex;
}

.player-selector-wrapper {
  margin-left: 30px;
}

.play-button {
  background-color: #4b1124;
  border: 4px double #cfb338;
  box-shadow: 4px 4px 5px #333;
  color: #eee;
  cursor: pointer;
  font-size: 24px;
  padding: 0.5em 2em;
}
.play-button:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}
.player-selector {
  zoom: 2.8;
}
