html {
    height: 100%;
}

body {
  background-color: #308b5a;
  color: #fef72c;
  font-family: Helvetica, sans-serif;
  margin: 1em 2em;
  height: calc(100% - 1em);
}

#root {
    height: 100%;
}
h1 {
  text-shadow: 1px 2px #444;
}

